header > nav > div > a {
    color: #bcd5e7;
}

header > nav > div > a:hover {
    color: #fcba04;
}

@media screen and (min-width: 768px) {
    main > div {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    main > div {
        width: 25%;
    }
}

main > div {
    box-shadow: 0px 1px 6px rgba(33, 41, 92, 0.5);
}

main > div > div:first-of-type {
    background-color: #21295c;
    color: #bcd5e7;
}

main > div > div:nth-child(2) {
    background-color: #bdbdbd;
}

main > div > div:nth-child(3) {
    background-color: white;
}

main > div > div > div > a {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
    box-shadow: 0px 2px 6px rgba(33, 41, 92, 0.5) !important;
}