body {
    background-color: #bcd5e7;
}

header > nav {
    background-color: #21295c;
}

header > nav > div {
    padding-bottom: 10px;
}

header > nav > div > * {
    margin: 0px 2%;
}

header > nav > div > div > a > img {
    width: 100px;
}

header > nav > div > form {
    margin-top: 10px;
}

@media screen and (min-width: 468px) {
    header > nav > div > div:nth-child(2) {
        order: 1;
    }

    header > nav > div > form {
        margin-top: 0;
    }

    header > nav > div > div:first-child > a:first-child {
        display: none;
    }

    header > nav > div > div:first-child > nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header > nav > div > div > a > img {
        width: 150px;
    }
    
    footer * {
        font-size: 15px;
    }
}

header > nav > div > form > button {
    background-color: #bcd5e7;
    color: #21295c;
    border: none;
    border-radius: 10px;
}

header > nav > div > div > a {
    color: #bcd5e7;
}

header > nav > div > div > div > a {
    color: #bcd5e7;
}

footer {
    background-color: #21295c;
    font-size: 10px;
    padding: 10px 0;
}

footer * {
    margin: 0px 2%;
}

footer a {
    color: #bcd5e7;
}

footer a:hover {
    color: #fcba04;
}

header > nav > div > div > div {
    background-color: #21295c !important;
}

header > nav > div > div > div > div {
    color: #bcd5e7;
}



/*----- CSS FOR LATERAL MENU -----*/

header > nav > div > div > div > div > div {
    border: none !important;
}

header > nav > div > div > div > div > div > div {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
    border-top: 1px solid #bcd5e7 !important;
    border-bottom: 1px solid #bcd5e7 !important;
}

header > nav > div > div > div > div > div > h2 > a {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
    border: none !important;
    text-decoration: none;
}

header > nav > div > div > div > div > div > h2 > a:focus {
    box-shadow: none !important;
}

header > nav > div > div > div > div > a {
    color: #bcd5e7;
}

/* Nasconde la freccia di default di Bootstrap */
header > nav > div > div > div > div > div > h2 > a::after {
    display: none !important;
}

/* Quando l'accordion è espanso, ruota l'icona */
header > nav > div > div > div > div > div > h2 > a:not(.collapsed) .svg-chevron {
    transform: rotate(180deg);
}

/* Rimuove i bordi e le linee durante l'apertura dell'accordion */
header > nav .accordion-button:not(.collapsed) {
    border-top: none !important; /* Rimuove il bordo superiore */
    box-shadow: none !important; /* Rimuove ombre aggiuntive */
}





/*----- CSS FOR PROFILE ICON -----*/

header > nav > div > div > div > ul {
    background-color: #bcd5e7 !important;
    border-radius: 0% !important;
    box-shadow: 0 4px 6px rgba(33, 41, 92, 0.9);
}


header > nav > div > div > div > ul > li > a:focus, header > nav > div > div > div > ul > li > a:hover{
    background-color: #bcd5e7 !important;
}

header > nav > div > div > div > ul > li > a:hover {
    text-decoration: underline !important;
}


header > nav > div > div > div > ul > li > a{
    color: #21295c !important;
}

header > nav > div > div > div > ul > li > hr{
    border-color: #21295c !important;
}
