main>div {
    background-color: white;
}

img {
    width: 20%;
    height: auto;
}

body,
html {
    height: 100%;
    margin: 0;
}

main>ul>li>button {
    color: #21295c !important;

}

main>div>div>section>div>button {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
}

main>div>div>section>div>div {
    width: 100%;
}

main>div>div>section>div>div {
    height: fit-content !important;
}

main>div>div>section>div>div>div>div>a {
    color: #21295c;
}

main>div>div>section>div>div>div>div>a:last-of-type {
    color: red;
}

body>div>div>div {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
}

body>div>div>div>div>button:first-of-type {
    background-color: white !important;
    color: #21295c !important;
}

body>div>div>div>div>button {
    background-color: #bcd5e7 !important;
    color: #21295c !important;
}

main>div>div>section>div>form>div:last-of-type>input {
    background-color: #21295c !important;
    color: #bcd5e7 !important;
    box-shadow: 0px 2px 6px rgba(33, 41, 92, 0.5) !important;
    border: none;
    padding: 5px 10px;
}

@media screen and (max-width: 768px) {
    main>div>div {
        overflow: auto !important;
    }

    main>div>div>section:first-of-type {
        display: none !important;
    }

    main>div>div>section:last-of-type {
        margin: 0 !important;
    }
}

@media screen and (min-width: 768px) {
    main>div>div:first-of-type {
        flex-direction: row !important;
    }

    main>div>div>section {
        width: 50% !important;
    }

    body>div:not(:first-of-type) {
        display: none !important;
    }

    main>div>div>ul>li>ul {
        display: flex !important;
        flex-direction: row !important;
    }
}

.active {
    display: flex !important;
}